.login{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: bisque;
    border: 3px solid blue;
    color: black;
    border-radius: 30px;
    text-align: center;
}

.body{
    background-color: greenyellow;
}

.accordion{
    width: 1000px;
    margin: auto;
}